body {
    padding-top: 60px;
    background: #EDEDED;
    color: #73879C;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}
p::-moz-selection { background-color:#1ABB9C; color: #FFF }
p::selection { background-color: #1ABB9C; color: #FFF }

.row {
    margin-top: 20px;
}
a {
    color: #5A738E;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

hr {
    color: #D9DEE4;
    margin: 10px 0 15px;
    border-width: 2px;
}

h3 {
    margin-bottom: 5px;
}

#user_avatar {
    width:100px;
    height:100px;
}

/* Navbar */
.navbar {
    background: #2A3F54;
    margin-bottom: 30px;
}
.navbar-nav > li.active {
    border-top: 1px solid #536271;
    border-right: 1px solid #202F3F;
    border-bottom: 5px solid #1ABB9C;
    border-left: 1px solid #536271;
}

/* Block */

.block {
    background: #fff;
    border: 1px solid #E6E9ED;
    border-radius: 2px;
    padding: 15px 20px;
    margin-bottom: 20px;
}
.block .nav-pills>li>a {
    background: #F7F7F7;
}
.block .nav-pills>li>a:hover, .block .nav-pills>li>a:focus {
    background: #FFF;
}
.block .nav-pills>li.active>a {
    background: #FFF;
    border-bottom: 1px solid #1ABB9C;
}
.main-col {
    overflow: auto;
}
/*Login block*/

#login {
    margin-top: 30px;
}
#login input {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#login .form-group {
    margin: 0;
    position: relative;
}
#login #name {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}
#login #pass {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
}
#login input:hover {
    border-color: #CCC;
    border-bottom:1px solid #337AB7;
}
#login input:active, #login input:focus {
    border-color: #CCC;
    border-bottom:1px solid #1ABB9C;
}

#login input[type="submit"]:hover{
    border-color: #204D74;
}
.form-control-feedback.right {
    float: right;
    border-left: 1px solid #ccc;
    color: #bbb;
    margin-top: 6px;
    height: 23px;
    line-height: 24px;
}
#login .buttons-group {
    margin-top: 15px;
}
#login .btn-default {
    color: #2A3F54;
}

/*Register block*/
form {
    margin: 20px 0;
}
#register-form textarea {
    margin-bottom: 20px;
}
#create {
    margin-top: 20px;
}
#register-form input:hover, #register-form textarea:hover {
    border-color: #CCC;
    border-bottom:1px solid #337AB7;
}
#register-form input:active, #register-form input:focus, #register-form textarea:active, #register-form textarea:focus {
    border-color: #CCC;
    border-bottom:1px solid #1ABB9C;
}
#register-form input[type="submit"]:hover{
    border-color: #204D74;
}
input, textarea, select {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}


/*File upload input*/
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btn-file{overflow:hidden;position:relative;vertical-align:middle;color: #2A3F54;}.btn-file>input{position:absolute;top:0;right:0;margin:0;opacity:0;filter:alpha(opacity=0);transform:translate(-300px, 0) scale(4);font-size:23px;direction:ltr;cursor:pointer;}
.fileupload{margin-bottom:9px;}.fileupload .uneditable-input{display:inline-block;margin-bottom:0px;vertical-align:middle;cursor:text;}
.fileupload .thumbnail{overflow:hidden;display:inline-block;margin-bottom:5px;vertical-align:middle;text-align:center;}.fileupload .thumbnail>img{display:inline-block;vertical-align:middle;max-height:100%;}
.fileupload .btn{vertical-align:middle;}
.fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists{display:none;}
.fileupload-inline .fileupload-controls{display:inline;}
.fileupload-new .input-append .btn-file{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.thumbnail-borderless .thumbnail{border:none;padding:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.fileupload-new.thumbnail-borderless .thumbnail{border:1px solid #ddd;}
.control-group.warning .fileupload .uneditable-input{color:#a47e3c;border-color:#a47e3c;}
.control-group.warning .fileupload .fileupload-preview{color:#a47e3c;}
.control-group.warning .fileupload .thumbnail{border-color:#a47e3c;}
.control-group.error .fileupload .uneditable-input{color:#b94a48;border-color:#b94a48;}
.control-group.error .fileupload .fileupload-preview{color:#b94a48;}
.control-group.error .fileupload .thumbnail{border-color:#b94a48;}
.control-group.success .fileupload .uneditable-input{color:#468847;border-color:#468847;}
.control-group.success .fileupload .fileupload-preview{color:#468847;}
.control-group.success .fileupload .thumbnail{border-color:#468847;}



